apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: app-secrets
  namespace: default
spec:
  hostAPI: https://app.infisical.com/api
  syncConfig:
    resyncInterval: 60s
  authentication:
    kubernetesAuth:
      identityId: "YOUR_MACHINE_IDENTITY_ID"
      autoCreateServiceAccountToken: true
      serviceAccountRef:
        name: infisical-service-account
        namespace: default
      secretsScope:
        projectSlug: "YOUR_PROJECT_SLUG"
        envSlug: "prod"
        secretsPath: "/"
        recursive: true
  managedKubeSecretReferences:
    - secretName: app-secrets
      secretNamespace: default
      creationPolicy: Owner
      template:
        includeAllSecrets: true
